.image-gallery-image {
    max-width: 100%;
   
}

.image-gallery-bullets .image-gallery-bullet {
    background-color: black;
    border-color: black;
}
.image-gallery-bullets .image-gallery-bullet.active {
    background-color: black;
    border-color: black;
}
