@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-130px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  #imgu {
    animation: bounce 1s infinite;
  }
  #body{
    background-image: url(../public/img/6.png);
    width:100%;
    margin: auto;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    

  }
 